h1{
	position: static;
  color: gold;
}

body{
	background: url("../images/jeopardy.jpg");	
	background-repeat: no-repeat;
  opacity: 0.2
  z-index: 99;
}

h2{
  color: gold;
}

h3{
  color: #df7b43;
}

p{
  color: black;
  margin: 20 0 0 50;
  font-size: 24px;
  font-weight: bold
}

#start.btn, #startOver.btn{
  width: 300px;
  margin: 40 25 ;
}

.topic-button{
  width: 220px;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: gold;
  size: 20px;
}

.option-button{
  width: 400px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  color: black;
  size: 20px;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid green;
    background-color: white;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 40px;
}